body{
    background-color:beige;
    padding-bottom:200px
    }

.image{
    width:200px;
    border-radius:100px
  
}
.container1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
h1{
    color: rgb(124, 124, 112)
}
h2{
    color: rgb(124, 124, 112)
}
button{
    background-color:
    lightgreen;
    border:none;
    width:90%;
    height:290px;
    font-weight: bold;
    font-size:40px;
    margin-bottom: 15px;
    color:white

}
    
.button{
    display:flex;
    justify-content: center;
}
.reviews{
    background-color:lightpink
}
hr{
    margin-bottom:20px
}
.container2{
    margin-top:40px;
    font-size:20px;
}
.pic{
    width:500px;
margin-bottom:15px
}
.pictures{
    display:flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:987px){
    .pictures{display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
        gap:20px
    }
    body{
        padding-bottom:200px
    }
    button{
        background-color:
        lightgreen;
        border:none;
        width:80%;
        height:70px;
        font-weight: bold;
        font-size:30px;
        margin-bottom: 15px;
        color:white
    
    }
    .container2{
        font-size:15px;
    }
}

