body{
    background-color:beige;
    padding-bottom:200px
    }
.header{
    position:fixed;
    background-color:beige;
    top:0;
    width:100%;
    height:9%;
    display:flex;
    justify-content: center;

}
.header_img{
    width:100px;
    height:100px;
    object-fit: cover;
    object-position: -10px -40px; 
    margin-left:15px
}
h3{
    color: rgb(124, 124, 112);
}
.image{
    margin-top:90px;
    width:300px;
    border-radius:150px
  
}

.container1{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
h1{
    color: rgb(124, 124, 112);
    font-size:40px;
}
h2{
    color: rgb(124, 124, 112);
    font-size: 35px

}
button{
    background-color:
    lightgreen;
    border:none;
    width:90%;
    height:290px;
    font-weight: bold;
    font-size:40px;
    margin-bottom: 15px;
    color:white

}
    
.button{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reviews{
    background-image:linear-gradient(to bottom, rgb(218, 130, 144) 0%, pink 100%)
}
hr{
    margin-bottom:20px
}
.container2{
    margin-top:40px;
    font-size:20px;
}
.pic{
    width:500px;
margin-bottom:15px
}
.pictures{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.menu{
    background-image:linear-gradient(to bottom, rgb(82, 164, 82) 0%, lightgreen 90%);
}
.aboutus{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.text{
    display:flex;
    flex-direction: row;
    margin-left:60px;
    margin-bottom:10px;
    border-radius:10px;
    width:800px;
    height: 90px;
    background-color:white;
    box-shadow: 2px 3px 15px grey;
}
.info{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.paragraph{
    margin-left:20px
}
.icon{
    margin-left:15px
}
.div_icon{
    margin-top:15px;
    margin-right:10px
}
.hr{
    display:block;
    width:950px;
    height:2px;
    background-color:black;
}
.last_icons{
    display:flex;
    flex-direction:row;
    justify-content: center;
    gap: 50px;
    margin-top:100px
}
.icon_2{
    width:30px;
    height:30px
}
@media (min-width:987px)
{.pictures{display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: center;
        gap:20px
    }
    body{
        padding-bottom:200px
    }
    button{
        background-color:
        lightgreen;
        border:none;
        width:80%;
        height:70px;
        font-weight: bold;
        font-size:30px;
        margin-bottom: 15px;
        color:white
    
    }
    .container2{
        font-size:15px;
    }
    .image{
        width:200px;
        border-radius:100px
    }
    h1{
        font-size:30px;
    }
    h2{
        font-size:25px;
    }
    .aboutus{
        display:flex;
        flex-direction: row;
    }
    .text{
        width:500px;
        background-color:white;
        
    }
    .hr{
        width:1500px;
    }
}

